<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script>src="{% static 'bootstrap/js/bootstrap.min.js'%}"</script>
</head>
<body>
<a href="{% url 'about' %}" class="btn btn-dark">About</a>
<a href="{% url 'contact' %}" class="btn btn-primary">Contact</a>
<a href="{% url 'home' %}" class="btn btn-warning">Home page</a>
<h1 class="text-center text-danger">About us</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur, nam natus omnis sequi tempora voluptatum. Blanditiis, consequatur esse, exercitationem fugit nihil qui quisquam rem repellat similique sit velit, vero?</span><span>Atque blanditiis delectus fugiat fugit magnam magni minus nemo praesentium vero. Animi consequuntur cumque dolorem error harum incidunt minima minus odit officiis optio provident quibusdam repellendus, vel veritatis vero voluptas.</span><span>Consectetur minima omnis quas soluta voluptatibus. Aliquam dolore fugiat fugit hic iusto libero molestias nesciunt praesentium quae quidem. Esse, ex inventore laborum maiores minus praesentium quaerat vero. Impedit, labore, maiores?</span></p>
<h2>Additional Information</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quia, tenetur. Doloribus impedit molestias neque nihil quis sint tempora? Accusantium et, fugiat ipsum labore minus possimus tempora vel velit vitae.</span><span>Aliquam aut commodi culpa, deleniti dicta dolore eligendi error expedita in nesciunt qui quibusdam quidem, repudiandae sunt, temporibus! Adipisci animi debitis doloribus dolorum excepturi explicabo fuga, recusandae sapiente sed voluptates.</span><span>A aliquid amet cum cumque dolore hic id, incidunt ipsum modi mollitia natus neque placeat porro quasi quis sapiente sint sit tenetur! Aliquid autem est illo itaque quasi, quos. Saepe.</span><span>A, adipisci corporis culpa cum est expedita facilis ipsa iusto magni modi, nobis optio rem repudiandae saepe sequi soluta, voluptates voluptatibus? Architecto aspernatur, consequuntur facere fugiat fugit laboriosam necessitatibus quisquam!</span></p>
<img src="{% static 'assets/hos1.jpeg' %}" alt="">
</body>
</html>