<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<h1>Contact Us!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque maiores similique suscipit tenetur? Ad culpa cum cumque, fugiat harum in officiis quae sint. Commodi consequatur deserunt ducimus minima provident!</span><span>Accusamus accusantium adipisci consequatur corporis debitis dolor ea enim fugiat illum inventore iusto labore maiores modi, neque, optio placeat quos repellat repudiandae rerum sunt unde vitae voluptate! Deserunt, doloribus, perspiciatis?</span><span>Accusantium aliquam aperiam corporis dolore dolorum enim, et eveniet itaque magnam minus necessitatibus non nulla praesentium quas saepe sapiente tenetur, unde vel voluptatem voluptatibus. Eos modi nam odio provident ut!</span></p>
<h2>Additional Information</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque dolore dolorem dolorum est fugit impedit modi nemo nisi nobis numquam, officiis omnis perferendis, perspiciatis quasi similique sint suscipit, vitae!</span><span>Accusamus, aliquam amet cupiditate deleniti dolorem eos eum inventore itaque iure maiores nisi nobis non obcaecati pariatur quas quisquam quos reiciendis, repellendus sed sequi ullam veniam vitae voluptas voluptate voluptatem?</span><span>Ab amet, assumenda consequatur cum dolor dolorem et eveniet explicabo harum illum in inventore iure magnam molestias necessitatibus nihil nostrum officia officiis quia reiciendis rem repellat sed sequi tenetur velit?</span></p>

</body>
</html>